.no-link-decoration {
  text-decoration: none;
  color: black;
}

/* All beer list */
/* .beer-list-img {
  width: 1rem;
} */
.img-control {
  width: 40px;
}

.detail-img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
